
pip install --upgrade pypdf langchain langchain-community langchain-google-genai langchain-text-splitters langchain-qdrant qdrant-client

streamlit
langchain
langchain-community
langchain-text-splitters
langchain-google-genai
langchain-qdrant
qdrant-client
pypdf
